.projects {
    position: relative;
    z-index: 1;
    padding: 300px 0;
    background-color: #1a1a1a;
    color: #FFF;

    &__text {
        max-width: 510px;
        margin: 0 auto;
    }

    .project {
        min-height: 100%;
    }

    .item-list {
        margin-top: 50px;
    }
}